{% extends "@Recruitment/Default/indexpro1.html.twig" %}
{% block container %}
    <div class="col-lg-12">
        <h1 class="page-header">Seller Forms</h1>
    </div>


    <table border="2">
        <tr>
            <th>ID</th>
            <th>Seller Name</th>
            <th>Trade Register</th>
            <th>Tax Number</th>
            <th>TVA</th>
            <th>Siren</th>
            <th>Fax</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Upload CV</th>
        </tr>
        {% for i in seller %}
            <tr>
                <td>Seller{{ i.id }}</td>
                <td>{{ i.sellername }}</td>
                <td>{{ i.rcs }}</td>
                <td>{{ i.taxnumber }}</td>
                <td>{{ i.tva }}</td>
                <td>{{ i.siren }}</td>
                <td>{{ i.fax }}</td>
                <td>{{ i.phonenumber }}</td>
                <td>{{ i.email }}</td>
                <td><img src="{{ asset('license/') }}{{ i.image }}" style="width: 50px;height: 50px"></td>
                <td><a href="{{ path('delete_seller',{'id':i.id}) }}">Delete</a> </td>
                <td><a href="{{ path('update_seller',{'id':i.id}) }}">Update</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}